body {
	background-color: rgb(205, 231, 240);
}

.items {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
}

header {
	border: none;
	background-color: rgb(156, 208, 226);;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header h1 {
	font-size: 3em;
	flex: 1;
}

.motto {
	color: rgb(108, 108, 192);
	flex: 4;
}

header a {
	flex: 2;
	color: rgb(108, 108, 192);
	text-decoration: none;
}

.post {
	flex: 1;
	border: black;
	transition: text-decoration 0.3s;
}

.post:hover {
	text-decoration: solid black underline;
}

.post a {
	font-size: 2em;
	color: black;
	text-decoration: none;
}