<% layout("layouts/boilerplate") %>
	<h1>Hello <%= currentUser.username %></h1>
	<form action="/logout" method="POST">
        <button>Logout</button>
    </form>
	<h2>Your Articles:</h2>
	<% if (currentUser.articles.length) { %>
		<% for (let article of currentUser.articles) { %>
			<a href="/posts/<%= article._id %>"><%= article.title %></a>
		<% } %>
	<% } else { %>
		<h2>You have not written any articles yet</h2>
	<% } %>
