<% layout("layouts/boilerplate") %>
<div class="container mt-5" style="width: 30%;">
			<div class="card">
				<div class="card-body">
					<h2>Sign Up</h2>
					<form action="/register" class="validated-form" method="POST" novalidate>
						<div class="mb-3">
							<label for="username">Username</label>
							<input class="form-control" type="text" name="username">
						</div>
						<div class="mb-3">
							<label for="email">Email</label>
							<input class="form-control" type="email" name="email">
						</div>
						<div class="mb-3">
							<label for="password">Password</label>
							<input class="form-control" type="password" name="password">
						</div>
						<button class="btn btn-info text-white">Submit</button>
					</form>
				</div>
			</div>
</div>