<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/home.css">
	<title>Blog</title>
</head>
<body>
	<header>
		<a href="/posts"><h1>The Blog</h2></a>
		<h3 class="motto">where ideas are born</h3>
		<h2>Logo</h3>
	</header>
	<a href="/posts/new">Write New Article</a>
	<div class="items">
		<% for(let post of posts) { %>
			<article class="post">
				<a href="/posts/<%= post._id %>"><h3><%= post.title %></h3></a>
			</article>
		<% } %>
	</div>
</body>
</html>